.input-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .btn_choose {
    width: 20%;
    min-width: 80px;
  }
  