<app-header></app-header>
<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title d-flex justify-content-between align-items-center">
            <!-- <h2>Settings</h2>
            <a routerLink="/home" class="btn btn-secondary ml-auto">Back</a> -->
        </div>
         <div class="progress-nav d-flex justify-content-between align-items-center">
            <div class="step-item" [class.active]="isSettingProfileActive" (click)="showPageSetting()">
              <div class="step-text">Setting Profile</div>
            </div>
            <div class="step-item" [class.active]="isAccountVerificationActive" (click)="showPageAccountVerified()">
              <div class="step-text">Account Verification</div>
            </div>
            <div class="step-item" [class.active]="isDocumentActive" (click)="showPageDocumentVerificationActive()">
              <div class="step-text">Document Verification</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch" >
              <form action="forms/contact.php" method="post" role="form" class="php-email-form" id="form1">
                <h3><b>Data Profile</b></h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" name="email" #email required>
                        </div>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="name" class="form-control" name="name" #name required>
                        </div>
                        <div class="form-group">
                          <label for="phone">Phone Number</label>
                          <input type="number" class="form-control" name="phone" #phone required>
                        </div>
                        <!-- <div class="form-group">
                          <label for="referral">Referral Code</label>
                          <input type="text" class="form-control" name="referral" #referral>
                        </div> -->
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">No Identity</label>
                        <input type="email" class="form-control" #no_identity  name="no_identity" required>
                      </div>
                      <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" #address name="address" rows="3"></textarea>
                      </div>
                      <!-- <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input type="file" class="form-control-file" #image name="image" (change)="onImageSelected($event)" accept=".jpg,.jpeg,.png">
                        <img [src]="imageUrl ? imageUrl : ''" alt="Image Preview" style="max-width: 300px; max-height: 300px;">
                      </div>                       -->
                    </div>
                </div>
                <div class="text-center"><button (click)="updateProfile()" type="submit">Update Profile</button></div>
              </form>
            </div>
          </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <app-footer></app-footer>